<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>def</servlet-name>
  	<servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>def</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ghi</servlet-name>
  	<servlet-class>com.create.Create</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ghi</servlet-name>
  	<url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>jkl</servlet-name>
  	<servlet-class>com.add.Add</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jkl</servlet-name>
  	<url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>mno</servlet-name>
  	<servlet-class>com.plogin.PLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mno</servlet-name>
  	<url-pattern>/PLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>pqr</servlet-name>
  	<servlet-class>com.vote.Vote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>pqr</servlet-name>
  	<url-pattern>/Vote</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>stu</servlet-name>
  	<servlet-class>com.result.Result</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>stu</servlet-name>
  	<url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>vwx</servlet-name>
  	<servlet-class>com.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>vwx</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>yza</servlet-name>
  	<servlet-class>com.delete.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>yza</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>